<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>

<body>
    <div id="p2-head">
        <div id="p2-logo">
            <img src="" alt="logo">
        </div>
        <div id="p2-logIn">
            <button id="p2-logOut">LOG OUT</button>
        </div>
    </div>
    <div id="p2-tripMainContent">
        <div id="p2-tripOptions">
            <div id="p2-catigoryButtons">
                <span>Hotel</span>
                <span>Food</span>
                <span>Attraction</span>
            </div>
            <div id="p2-venues">
                {{each venue}}
                <div class="p2-venue">
                    <img src="{{image}}">
                    <h2>{{name}}</h2>
                    <h3>{{location}}</h3>
                    <button>Add</button>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="p2-tripDays" class="animated">
            {{each days}}
            <div class="p2-days">
                <h2>Day:{{day}}</h2>
                <div class="p2-trips">
                    {{each trips}}
                    <img class="p2-dayVenueImage" src="{{image}}"> {{/each}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>

</html>
